<% if notice.present? %>
<p class="alert alert-success alert-dismissible fade show mt-2" role="alert"> <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</p>
<% end %>
<%= render @chat %>
